body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #333;
    text-align: center;
    color: white;
    font-weight: bold;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

.btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

button {
    background-color: goldenrod;
    color: #333;
    width: 170px;
    padding: 10px;
    font-size: 15px;
    font-weight: bolder;
    border: none;
    border-radius: 2px;
}
